
// you must include each plugins' css
// paths prefixed with ~ signify node_modules
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';

.cal-app {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.cal-app-top {
  margin: 0 0 3em;
}

.cal-app-calendar {
  margin: 0 auto;
  max-width: 900px;
  padding: 15px;
}
